/* Baseline values for all elements */

* {
  font-family: "JetBrainsMono Nerd Font", "NotoSans Nerd Font", monospace;
  font-size: 13px;
}

/* Values for the bar itself */
#waybar {
  background: transparent;
  color: #c6d0f5;
  font-weight: 500;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(26, 27, 38, 0.75);
  margin: 5px;
  border-radius: 6px;
}

/* Button effects for workspaces module */
#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  margin: 2px;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #99d1db;
  background-color: rgba(153, 209, 219, 0.1);
  box-shadow: inset 0 0 0 1px rgba(153, 209, 219, 0.2);
}

#workspaces button:hover {
  background: rgb(41, 42, 53);
  color: #c6d0f5;
}

#cpu,
#memory,
#disk,
#clock,
#custom-reload,
#custom-spotify,
#bluetooth,
#custom-vpn,
#network,
#pulseaudio,
#backlight,
#battery,
#custom-power {
  border-radius: 6px;
  padding: 0 10px;
  transition: 0.1s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
}

#cpu:hover,
#memory:hover,
#disk:hover,
#clock:hover,
#custom-reload:hover,
#custom-spotify:hover,
#bluetooth:hover,
#custom-vpn:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#custom-power:hover {
  background-color: rgba(32, 59, 79, 0.75);
}

/* Text colours */
#cpu,
#memory,
#disk {
  color: #babbf1;
}

#clock {
  color: #99d1db;
  font-weight: 500;
}

#custom-vpn.active {
    color: #7cad66;
}

#pulseaudio,
#backlight,
#network {
  color: #c6d0f5;
}

#network.disconnected,
#custom-power,
#battery.warning:not(.charging) {
  color: #e78284;
}

#bluetooth {
  color: #888;
  font-size: 16px;
}

#bluetooth.on {
  color: #2196f3;
}

#bluetooth.connected,
#battery {
  color: #99d1db;
}

#battery.charging {
  color: #a6d189;
}

/* Tooltip styling */
tooltip {
  background-color: #1a1b26;
  color: #ddd;
  padding: 5px 12px;
  margin: 5px 0;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

