.config/qBittorrent/categories.json
.config/qBittorrent/qBittorrent-data.conf
.config/qBittorrent/qBittorrent.conf
.config/qBittorrent/rss/feeds.json
.config/qBittorrent/watched_folders.json
.config/qBittorrent/lockfile
.config/qBittorrent/rss/storage.lock
