* {
  all: unset;
  color: inherit;
  font: inherit;
}

window {
    background-color: rgba(20, 20, 20, 0.95);
    border-radius: 10px;
    padding: 16px;
}

#input {
    opacity: 0;
}

/* Kill GTK row background in ALL states */
row,
row:selected,
row:hover,
row:active,
row:focus {
  background: transparent;
  box-shadow: none;
  border: none;
}

#entry {
    padding: 8px 10px;
    background: transparent;
}

#entry:selected {
    border-radius: 6px;
    outline: none;
    font-weight: bold;
}

/* Lock */
#entry:nth-child(1):selected {
    background-color: rgb(231, 186, 62);
    color: black;
}

/* Sleep */
#entry:nth-child(2):selected {
  background-color: rgb(92, 173, 203);
  color: black;
}

/* Restart */
#entry:nth-child(3):selected {
  background-color: rgb(219, 119, 42);
  color: black;
}

/* Shutdown */
#entry:nth-child(4):selected {
  background-color: rgb(203, 69, 69);
}

/* Logout */
#entry:nth-child(5):selected {
  background-color: rgb(135, 109, 167);
}